.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: white;
  font-family: Roboto sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.listProducts{
  border-right: 1px solid white;
  padding: 10px;
}

.sumProducts{
  padding: 10px;
}